 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .loginheader h1{
    text-align: center;
    font-size: 100px;
    color:#9b0027;
    padding: 0px;
    margin: 0px;
}

    .loginheader h3{
    text-align: center;
    color: #1b0007;
    font-size: 50px;
    border-bottom: 5px solid #fa1750 ;
    margin: auto;

  }
 
    body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("welki.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  /* align items center vertically and horizontally  */
  .container{
    display: flex;
    justify-content: center;
    align-items:center !important;
    height: 100vh;
  }
  .form{
    width: 450px;
    height: 550px;
    background-color: rgba(41, 39, 39, 0.3);
    box-shadow: 0 5px 30px black;
  }
  .btn button {
    padding: 3px;
    margin: 30px 0px 40px 30px;
    border-style: none;
    background-color: transparent;
    color: beige;
    font-size: 18px;
    font-weight: 550;
  }
  .formGroup{
    display: flex;
    justify-content: center;
  }
  .formGroup input{
    border: none;
    width: 80%;
    border-bottom: 2px solid white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    color: white;
  }
  input:focus {
    outline: none !important;
    border-bottom: 2px solid rgb(243, 91, 147);
    font-size: 17px;
    font-weight: bold;
    color: white;
  }
  ::placeholder {
    color: white;
  }
  .checkBox{
    display: flex;
    justify-content: center;
    margin: 16px!important;
  }
   
  #checkbox{
    margin-right: 10px;
    height: 15px;
    width: 15px;
  }
  .text{
    color: rgb(199, 197, 197);
    font-size: 13px;
  }
  .btn2{
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: rgb(254, 2, 103);
    border-style: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  .btn2:hover{
    background-color: rgba(255, 4, 92, 0.5);
  }
  .btn button:hover{
    border-bottom: 2px solid rgb(228, 74, 136);
  }
   
  /* hide signup form */
  .login{
    display: none;
  }
   
  /* Login form code */
  .login{
    margin-top: 40px;
  }
  .login .checkBox{
    margin-top: 30px !important;
  }